-
  const classes = (className, settings = {}) => {
    const classList = [className]
    for ( let item of Object.entries(settings) ) {
      if (item[0] !== 'tag' && item[1]) {
        if (item[1]===true)
          classList.push(`${className}--${item[0]}`)
        else
          classList.push(`${className}--${item[0]}-${item[1]}`)
      }
    }
    return classList.join(' ')
  }
